/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Mukta:400,700');
body {
	margin:0px;
	font-family: 'Mukta', sans-serif;
}

/*ENCABEZADO - Header*/
header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 100px;
	column-gap: 9px;
	height: 92px;
	position: fixed;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #fff;
	z-index: 9999;
	margin-top:-147px;
}
.logo {
	grid-column: 1;
	grid-row: 1;
    padding-left: 60px;
} 
input {
	grid-column: 2;
	grid-row: 1;
	height: 40px;
	padding-right: 33px;
	padding-left: 12px;
	align-self: center;
	font-size: 15px;
}
header input:focus{
	border: 2px #225491 solid;
}
.lupa {
	grid-column: 2;
	grid-row: 1;
	height: 20px;
	justify-self: end;
	padding-right: 11px;
	padding-top: 2px;
	align-self: center;
}
a.lupa img {
	height: 20px;
}
.carrito, .numeroCompra {
	grid-column: 3;
	grid-row: 1;
	justify-self: right;
}
.carrito {
	margin-right: 41px;
	height: 45px;
	z-index: 999;
	margin-top: 21px;
}
.numeroCompra {
	padding-right: 95px;
	font-size: 20px;
	margin-top: 16px;
}
a.carrito img{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	transition:filter 0.4s;
	-webkit-transition:-webkit-filter 1s;
}
a.carrito img:hover{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
}
/*BARRA DE NAVEGACION - Nav*/
header nav {
	background-color: #39558e;
	height: 30px;
	grid-column: 1/4;
	grid-row: 2;
	border-bottom: 3px solid #0f2e6c;
	text-align: right;
	padding-top: 6px;
	padding-right: 36px;
	-moz-box-shadow: 0 5px 10px 2px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 5px 10px 2px rgba(0,0,0,.4);
	box-shadow: 0 5px 10px 2px rgba(0,0,0,.4);
}
header nav a{
	color: #fff;
	text-decoration:none;
	margin: 15px;
	font-size:17px;	
}
header nav a:hover{
	text-decoration:overline;
}

/*SECCION - Section*/
section {
	display: grid;
	grid-template-columns: 0.5fr auto auto auto 0.5fr;
	grid-template-rows: : 1fr;
	grid-auto-flow: row;
	justify-items: center;
	margin-top: 147px;
	grid-gap: 15px;
}
.slider {
	grid-column: 1 / 6;
	margin-bottom: 40px;
}
.slider2 {
	grid-column: 2 / 5;
	margin-bottom: 35px;
	background-color: #CBDCE7;
	height: 80px;
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
h1, h6 {
	grid-column: 2 / 5;
	margin-bottom: 0px;
	margin-top: 45px;
	font-size: 24px;
}
.producto {
	max-width: 280px;
	border: 1px solid #666;
	padding: 15px;
	text-align: center;
	font-size: 17px;
	margin-bottom:15px;
	-webkit-box-shadow: 8px 8px 19px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 8px 19px -16px rgba(0,0,0,0.75);
	box-shadow: 8px 8px 19px -16px rgba(0,0,0,0.75);
}
.producto:hover {
	border: 2px solid #00b147;
}
div.producto p {
	display: block;
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 1.2;
}
.precio {
	font-size: 19px;
	font-weight: bold;
}
.btn-carrito {
	display: inline-block;
	background-color: #a5a4a4;
	padding: 6px 15px;
	border-radius: 15px;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}
.btn-carrito:hover {
	background-color: #39558e;
}
.btn-carrito img {
	vertical-align: middle;
	margin-right: 7px;
}
.producto > img {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.vacio1{
	grid-column:1/2;
	grid-row:2/6;
}
.vacio2{
	grid-column:5/6;
	grid-row:2/6;
}

/*PIE - Footer*/
footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #565656;
	color: #fff;
	padding-bottom: 18px;
}
p.direccion {
	grid-column: 1/2;
	line-height: 1.3;
	padding-right: 25px;
	border-right: 1px solid;
	text-align: right;
}
nav.menu-inferior {
	grid-column: 2/3;
	margin-top: 17px;
}
.menu-inferior a {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	display: block;
	margin-left: 25px;
}
div.redes-sociales {
	grid-column: 3/4;
	margin-top: 20px;
}
.redes-sociales a {
	margin-right: 10px;
}