/*GENERAL*/
@import url('https://fonts.googleapis.com/css?family=Mukta:400,700');
noscript {
	position: fixed;
	top: 200px;
	width: 70%;
	right: 200px;
	border: 2px solid #F00;
	padding: 40px;
	background-color: #f8c3c3;
	font-size: 20px;
	text-align: center;
}
body {
	margin:0px;
	font-family: 'Mukta', sans-serif;
}
section.contacto, section.personalizacionPagina {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 147px;
	margin-left:70px;
	margin-right:70px;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
}
section.personalizacionPagina {
	grid-gap: 60px;	
}section.contacto {
    grid-gap: 90px 120px;	
}
/*ENCABEZADO - Header*/
header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 100px;
	column-gap: 9px;
	height: 92px;
	position: fixed;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #fff;
	z-index: 20;
	margin-top:-147px;
}
.isologo {
	grid-column: 1;
	grid-row: 1;
    padding-left: 60px;
} 
input {
	grid-column: 2;
	grid-row: 1;
	height: 40px;
	padding-right: 33px;
	padding-left: 12px;
	align-self: center;
	font-size: 15px;
}
header input:focus{
	border: 2px #225491 solid;
}
.lupa {
	grid-column: 2;
	grid-row: 1;
	height: 20px;
	justify-self: end;
	padding-right: 11px;
	padding-top: 2px;
	align-self: center;
}
a.lupa img {
	height: 20px;
}
.carrito, .numeroCompra {
	grid-column: 3;
	grid-row: 1;
	justify-self: right;
}
.carrito {
	margin-right: 41px;
	height: 45px;
	z-index: 999;
	margin-top: 21px;
}
.numeroCompra {
	padding-right: 95px;
	font-size: 20px;
	margin-top: 16px;
}
a.carrito img{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	transition:filter 0.4s;
	-webkit-transition:-webkit-filter 1s;
}
a.carrito img:hover{
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
}
/*BARRA DE NAVEGACION - Nav*/
header nav {
	background-color: #39558e;
	height: 30px;
	grid-column: 1/4;
	grid-row: 2;
	border-bottom: 3px solid #0f2e6c;
	text-align: right;
	padding-top: 6px;
	padding-right: 36px;
	-moz-box-shadow: 0 5px 10px 2px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 5px 10px 2px rgba(0,0,0,.4);
	box-shadow: 0 5px 10px 2px rgba(0,0,0,.4);
}
header nav a{
	color: #fff;
	text-decoration:none;
	margin: 15px;
	font-size:17px;	
}
header nav a:hover{
	text-decoration:overline;
}

/*SECCION - Section*/
section.home{
	display: grid;
	grid-template-columns: 0.5fr repeat(3, auto) 0.5fr;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	justify-items: center;
	margin-top: 147px;
	grid-gap: 15px;
}
section.resumen {  
	justify-items: center;
	margin-top: 147px;
	margin-left:70px;
	margin-right:70px;
	margin-bottom: 120px;
}
td.descripcion {
    width: calc(100% - 390px);
}
td.estado {
    width: 115px;
}
td.prec_unit {
    width: 90px;
}
td.cantidad-compra {
    width: 70px;
}
td.total {
    width: 115px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: 1px solid #ccc;
	height:37px;
	text-align: center;
}
td.descripcion, td.estado, td.prec_unit, td.cantidad-compra, td.total {
	color: #fff;
    text-align: center;
    border-bottom: 3px solid #39558e;
    background-color: #8496bb;
}
.finalizar, .seguir {
    margin-top: 23px;
    margin-left: 20px;
    float: right;
}
.detalle-compra{
	padding-top:60px;
	margin-bottom:60px;
}
.detalle-compra input.cantidad1, .detalle-compra input.cantidad2, .detalle-compra input.cantidad3 {
	border: none;
	padding: inherit;
}
.slider {
	grid-column: 1 / 6;
	margin-bottom: 40px;
}
.slider2 {
	grid-column: 2 / 5;
	margin-bottom: 35px;
	background-color: #CBDCE7;
	height: 80px;
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
h1, h6 {
	grid-column: 2 / 5;
	margin-bottom: 0px;
	margin-top: 45px;
	font-size: 30px;
}
.producto, .otProducto {
	max-width: 280px;
	border: 1px solid #666;
	padding: 15px;
	text-align: center;
	font-size: 17px;
	margin-bottom:15px;
	-webkit-box-shadow: 8px 8px 19px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 8px 19px -16px rgba(0,0,0,0.75);
	box-shadow: 8px 8px 19px -16px rgba(0,0,0,0.75);
}
.otroprod {
	margin-bottom: 40px;
}
.pasos {
	max-width: 240px;
	border: 1px solid #00b147;
	padding: 10px;
	text-align: center;
	font-size: 17px;
	margin-bottom: 15px;
	background-color: #CCFFE0;
}
.producto:hover, .otProducto:hover {
	border: 2px solid #00b147;
}
div.producto p {
	display: block;
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 1.2;
}
.precio {
	font-size: 19px;
	font-weight: bold;
}
.btn-carrito {
	display: inline-block;
	background-color: #a5a4a4;
	padding: 6px 15px;
	border-radius: 15px;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	cursor: pointer;
}
.detalle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
	display: block;
}
.btn-carrito:hover {
	background-color: #39558e;
}
.btn-carrito img {
	vertical-align: middle;
	margin-right: 7px;
}
.remedio {
	width: 75%;
}
.producto a > img .remedio {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.vacio1{
	grid-column:1/2;
	grid-row:2/6;
}
.vacio2{
	grid-column:5/6;
	grid-row:2/6;
}
.destacado {
	display: block;
	font-size: 22px;
	font-weight: bold;
}

/*PIE - Footer*/
footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #565656;
	color: #fff;
	padding-bottom: 18px;
}
p.direccion {
	grid-column: 1/2;
	line-height: 1.3;
	padding-right: 25px;
	border-right: 1px solid;
	text-align: right;
}
nav.menu-inferior {
	grid-column: 2/3;
	margin-top: 17px;
}
.menu-inferior a {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	display: block;
	margin-left: 25px;
}
div.redes-sociales {
	grid-column: 3/4;
	margin-top: 20px;
}
.redes-sociales a {
	margin-right: 10px;
}

/*MATUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU*/

#formulario-contacto{
    grid-column: 1/3;
    grid-row: 1;
    justify-self: normal;
    margin-top: 50px;
}
#formulario-contacto input {
	height: 25px;
	margin-bottom:15px;
	width: calc(100% - 45px);
}
#formulario-contacto textarea {
	height: 130px;
	margin-bottom:15px;
	width: calc(100% - 3px);
}
#formulario-contacto input:focus, #formulario-contacto textarea:focus {
	background-color:#d0d8e8;
	border-color:#39558e;
}
#formulario-contacto #enviar {
    padding-right: 12px;
    height: 31px;
    width: 100px;
    float: right;
}
div.datos{
	grid-column: 3/5;
    grid-row: 1;
    justify-self: normal;
    border: 5px dashed #b5b5b5;
    padding-left: 30px;
    margin-top: 50px;
}
ul.listaDatos{
	grid-column: 2;
	grid-row:1;
    line-height: 2;
    font-size: larger;
    list-style: none;
    padding-left: 0;
}
.tituloMapa{
	text-align: center;
}
div.mapaGoogle{
	grid-column:1/5;
	grid-row: 2;
    width: 100%;
	margin-bottom: 30px;
}
iframe{
	grid-column:1/3;
}
h1.productos{
	grid-column: 1 / 5;
    text-align: center;
}
form.personalizacion{
	grid-column:3/5;
	grid-row: 1;
	padding-left: 20px;
}
form.personalizacion div {
    margin: 0px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    display: inline-table;
    border-radius: 100%;
}
p.tituloProducto{
	    text-transform: uppercase;
	    font-size: xx-large;
	    margin-bottom: 0;
}
div.opcionesProdctos{
	display: flex;
}
p.etiqueta{
	padding: 5px 10px;
	text-align: center;
    border: solid 1px #39558e;
}
#confirmar, #enviar {
    float: right;
    width: 99px;
    height: 31px;
    border-radius: 15px;
    background-color: #4a6bad;
    color: #fff;
    font-weight: bold;
    border: 2px solid #0f2e6c;
}
#confirmar:hover, #enviar:hover {
    background-color: #becce8;
    color: #0f2e6c;
}
img.vistaPrevia {
	grid-column:1/3;
	grid-row: 1;
    border: 1px solid #999;
    padding: 30px 15%;
    margin-top: 48px;
    width: 70%;
}
label {
    width: 70px;
    display: inline-block;
    text-align: center;
}
.presentacion {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form.personalizacion input {
    height: 30px;
}
.red    {background: #fa5a5a;}
.green  {background: #82c8a0;}
.cyan   {background: #7fccde;}
.blue   {background: #6698cb;}
.purple {background: #cb99c5;}
h3{
	margin-bottom: 0px;
}
input.cantidad{
	padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    width: 45px;
}
.cantidad {
    position: absolute;
    right: 31px;
    top: 27px;
    background-color: #00b147;
    color: white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    font-size: 10pt;
    justify-content: center;
    align-items: center;
    display: none;
}
#slider1_container {
		grid-column: 2 / 5;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	overflow: hidden;
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 130px;
	background-color: #FFF;
}
.logo {
	width: 960px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: move;
	height: 90px;
	margin-top: 20px;
	margin-bottom: 20px;

}
div.ui-helper-hidden-accessible div {
	display:none;
}


/********************************************************************/
.cantidad1, .cantidad2, .cantidad3, .cantidad4 {
	text-align: center;
	width: 80%;
}


#ui-id-1 {
	background-color: #FFF;
	z-index: 30;
	position: fixed;
	border: 1px solid #ccc;
	list-style: none;
	padding-left: 15px;
}